.character-view {
    display: flex;
    justify-content: center;
    // align-items: flex-end;
    position: relative;
    // min-height: 10rem;
    min-width: 23rem;
    overflow: hidden;

    // .character {
    //     height: 85%;
    // }

    .character-parent {
        position: absolute;
        max-width: 23rem;
        height: 100%;
        
        .character {
            padding-top: 3rem;
            // background-color: red;
            // height: 70vh;
            // position: absolute;
            // top: 0;
            // -webkit-transform: translate(-50%, 0);
            // transform: translate(-50%, 0);
        }
    }


    .bubbles {
        position: absolute;
        max-width: 23rem;
        height: 100%;
        z-index: 1;

        .speaking-bubble {
            width: 8rem;
            position: absolute;
            top: 0;
            left: 0;
        }

        .thinking-bubble {
            width: 8rem;
            position: absolute;
            top: 0;
            right: 0;
            -webkit-transform: scale(-1, 1) translate(25%, 0);
            transform: scale(-1, 1) translate(25%, 0);
        }
    }

    .flip-horizontally {
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);

    }

    .flip-vertically {
        -webkit-transform: scaleY(-1);
        transform: scaleY(-1);
    }
}