.character-view {
    display: flex;
    justify-content: center;
    position: relative;
    min-width: 23rem;
    overflow: hidden;

    .online {
        display: flex;
        align-items: center;
        font-weight: bold;
        // align-self:first baseline baseline;
        // justify-self: start !important;
        margin: 0.5em auto auto 0.5em;
        // margin-top: 0;
        // margin-left: 0;
        color: black;
        font-size: larger;

        .dot {
            height: 0.25em;
            width: 0.25em;
            margin-right: 0.25em;
            background-color: greenyellow;
            border-radius: 50%;
            border: black solid 3px;
        }
    }

    .empty {
        color: transparent;

        .dot {
            color: transparent;
            background-color: transparent;
            border: transparent solid 3px;
        }
    }

    .character-parent {
        position: absolute;
        max-width: 23rem;
        height: 100%;

        .character {
            // padding-top: 3rem;
        }
    }

    // .bubbles-parent {
    //     position: absolute;
    //     max-width: 23rem;
    //     height: 100%;
    //     z-index: 1;

    //     .speaking-bubble {
    //         width: 8rem;
    //         position: absolute;
    //         top: 0;
    //         left: 0;
    //     }

    //     .thinking-bubble {
    //         width: 8rem;
    //         position: absolute;
    //         top: 0;
    //         right: 0;
    //         -webkit-transform: scale(-1, 1) translate(25%, 0);
    //         transform: scale(-1, 1) translate(25%, 0);
    //     }
    // }

    .flip-horizontally {
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);

    }

    .flip-vertically {
        -webkit-transform: scaleY(-1);
        transform: scaleY(-1);
    }
}