* {
    font-family: "Gochi Hand", cursive;
    font-weight: 400;
    font-style: normal;
}

.content-view {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    height: 100vh;
    width: 100vw;

    .title {
        display: flex;
        justify-content: center;
        align-items: center;

        .container {
            position: relative;
        }

        h1 {
            text-decoration: underline;
            margin: 0;
        }

        .author {
            position: absolute;
            right: 0;
            top: 0;
            transform: translate(110%, 0%);
        }
    }

    .topper {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        background-color: #ffb703;
        border: 2px solid black;
        position: relative;
        margin: 0;
        padding: 0;
        line-height: 1em;

        p {
            display: flex;
            align-items: center;
            margin: 0.5em;
            max-width: 60%;
        }

        .progress-bars {
            width: 20%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: center;
        }
    }

    .scene-view {
        flex-grow: 8;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;

        .column {
            flex-grow: 1;
            display: flex;
            flex-direction: column;

            .character-view {
                flex-grow: 1;
                text-align: center;
                border: 2px solid black;
            }
        }

        .end-scene {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: pink;
            position: relative;

            .concert {
                height: 100%;
            }

            .confetti {
                position: absolute;
                // top: 4em;
                width: 50%;
                height: 100%;
            }
        }
    }

    .footer {
        display: flex;
        justify-content: center;
        align-items: center;
        justify-content: center;
        background-color: #219ebc;
        border: 2px solid black;

        img {
            height: 1.5em;
            margin-right: 0.5em;
        }

        .button,
        .continue-button {
            padding: 0.25em 0.75em 0.25em 0.75em;
            margin: 0.5em;
            display: flex;
            align-items: center;
            border-radius: 15px;
        }

        .button:hover {
            background-color: whitesmoke !important;
        }

        .button:active {
            background-color: greenyellow !important;
        }

        .active {
            background-color: greenyellow !important;
        }

        .active:hover {
            background-color: rgb(197, 248, 120) !important;
        }

        .continue-button {
            background-color: pink;
        }

        .continue-button:hover {
            background-color: rgb(252, 222, 227);
        }

        .continue-button:active {
            background-color: rgb(250, 119, 141);
        }

        a {
            position: absolute;
            bottom: 1em;
            left: 1em;
            font-size: xx-small;
            color: black;
            text-decoration: none;
        }
    }
}