.content-view {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    height: 100vh;
    width: 100vw;
    border: 2px solid black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;

    .topper {
        flex-grow: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #ffb703;
        border: 2px solid black;
        padding: 0 1em 0 1em;
    }

    .scene-view {
        flex-grow: 8;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;

        .column {
            flex-grow: 1;
            display: flex;
            flex-direction: column;

            .character-view {
                flex-grow: 1;
                text-align: center;
                border: 2px solid black;
            }
        }
    }

    .footer {
        flex-grow: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        justify-content: center;
        background-color: #219ebc;
        border: 2px solid black;

        .button {
            height: 50%;
            padding-left: 20px;
            padding-right: 20px;
            margin-left: 20px;
            margin-right: 20px;
            display: flex;
            align-items: center;
            background-color: white;
            border-radius: 15px;
        }

        .active {
            text-decoration: underline;
        }

        .button:hover {
            background-color: lightgreen;
        }

        .button:active {
            background-color: greenyellow;
        }
    }
}