html {
    font-size: 150%;
}

body {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0;
    margin: 0;

    display: flex;
    justify-content: center;
}

input,
button {
    font-size: 1em;
}

#root {
    position: relative;
    height: 100vh;
    width: 100vw;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
